h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
}

h1 {
  color: #39a7e7;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.name-header {
  background-color: #f7f7f7;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 10px;
  text-align: center;
}

#post-info {
  font-style: italic;
  font-size: 18px;
}

.auth-name {
  font-weight: bolder;
  font-size: 16px;
}

.copyright {
  font-size: 10px;
}

.li-selector {
  list-style: none;
}

#posts {
  text-align: center;
}

.related-posts {
  background-color: #f7f7f7;
  border-top: 5px solid #39a7e7;
  border-bottom: 5px solid #39a7e7;
  /* border-width, border-style, border-color */
}

/* pseudo classes */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  color: red;
}
